@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body > aside > h1, h2, h3{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

body > aside > h3{
    text-decoration-line: underline;
}

.aside-styl> h1{
    margin: 40px auto;
}

.aside-styl> h1,p{
    color: lightgreen;
    margin:35px auto;
    text-align: center;
}


.imgs-asid{
    width: 800px;
    height: auto;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 3px rgba(167, 166, 166, 0.208);
}

main{
    color: lightgreen;
}

main span h1{
    color: white;
    margin-top: 25px;
}

main> div > h1,h2,h3{
    color: white;
    margin:35px;
    text-transform: uppercase;
    text-align: center;
}

.text-table{
    text-align: center;
}

/************************************/

@media screen and (max-width: 1000px){
    .imgs-asid{
        width: 990px;
        height: auto;
    }
  }
  
  @media screen and (max-width: 872px){
    .imgs-asid{
        width: 850px;
        height: auto;
    }
  }
  
  
  @media screen and (max-width: 700px){
    .imgs-asid{
        width: 690px;
        height: auto;
    }
  }

@media screen and (max-width: 500px){
    .imgs-asid{
        width: 490px;
        height: auto;
    }
  }