/* Traje unas fonts de google para que quede mejor en los botones de la nav bar */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500');


li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ecf0f1;
    text-decoration: none;
}

.nav_links {
    display: flex;
    padding: 30px;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
}

.nav_links li{
    display: inline-block;  /*asi en lugar de ir para arriba estan lado a lado, prueben sacando y poniendo cosas siquieren para ver que hace*/
}

.nav_links li a:hover { 
    color: #0088a9;
}

button{
    padding: 5px 10px;
    background-color: rgba(109, 107, 107,0.8);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(95, 192, 127, 0.8);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
} 

.logo {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
} 

