body{
    display:grid;
    gap: 10px;
    /* Color de fondo */
    background-color:#070617;
    padding: 1px;

    grid-template-areas: 
    'header header header header'
    'img   img     img    img'
    'asid   main   main    main'
    'asid   main   main    main'
    'sect   main   main    main'
    'footer footer footer  footer'
    ;
    /* grid-template-rows :0.25fr 1fr 1fr 1fr ; */
    grid-template-columns :1fr 1fr 1fr 1fr ;
    
}

.grid-header{
    grid-area: header;
    width: 100%;

}

.container-home-img{
  grid-area: img;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 3px rgba(163, 162, 162, 0.493);
}


.home-img{
    padding: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.6;
}


.container-home-img > p{
  margin: 0px;
  font-size: 5em;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(209, 207, 207, 0.8);
  animation: fade-inout 4s;
}

/*Animacion texto de home.   Tengo que ponerle un punto de corte al texto P para que quede dentro del container*/
@keyframes fade-inout{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


/* ////////////////////////////////////////////////////////////////////*/



body > main{
    grid-area: main;
}

body > aside{
    grid-area: asid;
}

footer{
    grid-area: footer;
}

.tabla-posi{
    grid-area: sect;
}



.iframe-class{
  padding: 0px 70px 70px 70px;
}


/* Responsive para el Iframe(Objetivo= 720px Punto de corte final, pero que en 500px se entienda */

@media screen and (max-width: 700px){
  .iframe-class{
      padding-left: 50px;
  }
}


@media screen and (max-width: 600px){
  .iframe-class{
      padding-left: 25px;

  }
}

@media screen and (max-width: 500px){

.iframe-class{
  padding: 0px;
  }
}



/*////////////////////////ESTABLECER 3 PUNTOS DE CORTE/////////////////////*/
@media screen and (max-width: 900px){
  body{
      grid-template-areas: 
          'header header header header'
          'img    img     img    img'
          'main   main   main    main'
          'main   main   main    main'
          'asid   asid   asid    asid'
          'sect   sect    sect    sect'
          'footer footer footer  footer'
          ;
  }

  .nav-links{
      justify-content: center;
  }

}








/*///////////////// CORRECIONES DE FONT SIZE y GENERALES DEL HOME = RESPONSIVE //////////////////////*/
@media screen and (max-width: 1300px){
  .container-home-img > p{
    font-size: 5em;
    position: absolute;
    top: 45%;
    left: 50%;
  }
}

@media screen and (max-width: 1200px){
  .container-home-img > p{
    font-size: 3em;
    position: absolute;
    top: 40%;
    left: 50%;
  }
}

@media screen and (max-width: 950px){
  .container-home-img > p{
    font-size: 2.5em;
    position: absolute;
    top: 38%;
    left: 50%;
  }
}

@media screen and (max-width: 800px){
  .container-home-img > p{
    font-size: 1.5em;
    position: absolute;
    top: 35%;
    left: 50%;
  }

}







