body{
    display:grid;
    gap: 10px;
    /* Color de fondo */
    background-color:#070617;
    padding: 1px;

    grid-template-areas: 
    'header header header header'
    'img   img     img    img'
    'asid   main   main    main'
    'asid   main   main    main'
    'sect   main   main    main'
    'footer footer footer  footer'
    ;
    /* grid-template-rows :0.25fr 1fr 1fr 1fr ; */
    grid-template-columns :1fr 1fr 1fr 1fr ;
    
}

body > main{
  grid-area: main;
}

body > aside{
  grid-area: asid;
}

footer{
  grid-area: footer;
}

.tabla-posi{
  grid-area: sect;
}

.grid-header{
    grid-area: header;
    width: 100%;

}

.container-home-img{
  grid-area: img;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 3px rgba(163, 162, 162, 0.493);
}


.home-img{
    padding: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.6;
}


.container-home-img > p{
  margin: 0px;
  font-size: 5em;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(209, 207, 207, 0.8);
  animation: fade-inout 4s;
}

/*Animacion texto de home.   Tengo que ponerle un punto de corte al texto P para que quede dentro del container*/
@keyframes fade-inout{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
/* ////////////////////////////////////////////////////////////////////*/

.iframe-class{
  padding: 0px 70px 70px 70px;
}


/*////////////////////////ESTABLECER 3 PUNTOS DE CORTE/////////////////////*/
@media screen and (max-width: 1000px){
  body{
      grid-template-areas: 
          'header header header header'
          'img    img     img    img'
          'main   main   main    main'
          'main   main   main    main'
          'asid   asid   asid    asid'
          'sect   sect    sect    sect'
          'footer footer footer  footer'
          ;
  }

  .nav-links{
      justify-content: center;
  }

  .container-home-img > p{
    font-size: 3em;
    position: absolute;
    top: 38%;
    left: 50%;
  }
}

@media screen and (max-width: 872px){
  .container-home-img > p{
    top: 46%;
    left: 50%;
  }
}


@media screen and (max-width: 700px){
  .container-home-img > p{
    font-size: 2em;
    top: 44%;
    left: 50%;
  }
}

@media screen and (max-width: 500px){
  .container-home-img > p{
    font-size: 1.5em;
    top: 40%;
    left: 50%;
  }

  .iframe-class{
    padding: 0px;
  
  }

  iframe{
    width: 485px;
  }

  .tabla-posi{
    padding: 0px;
  }
}
