*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:grid;
    gap: 10px;
    /* Color de fondo */
    background-color:#0F3E76;
    padding: 10px;

    grid-template-areas: 
    'header header header header'
    'img   img     img    img'
    'asid   main   main    main'
    'asid   main   main    main'
    'sect   main   main    main'
    'footer footer footer  footer'
    ;
    grid-template-rows :0.25fr 1fr 1fr 1fr ;
    grid-template-columns :1fr 1fr 1fr 1fr ;
    
}

body > header,aside,footer,main,article,div,section{
    /* Color de los containers, esto despues lo sacamos cuando tengamos el color de la pagina.O lo hacemos muy translucido. */
    background-color: rgb(108, 130, 164);
    padding: 10px;
    color: white;
    text-align: center;
}

.grid-header{
    grid-area: header;
    width: 100%;

}

.home-img{
    grid-area: img;
    width: 100%;
    height: auto;
}

body > main{
    grid-area: main;
}

body > aside{
    grid-area: asid;
}

footer{
    grid-area: footer;
}

.tabla-posi{
    grid-area: sect;
}


@media screen and (max-width: 768px){
    body{
        grid-template-areas: 
            'header header header header'
            'img    img     img    img'
            'main   main   main    main'
            'main   main   main    main'
            'sect   asid   asid    asid'
            'footer footer footer  footer'
            ;
    }

    .nav-links{
        justify-content: center;
    }
}

/* Esto es solo para guiarme con los colores */
h1,p,h3{
    background-color: #1f6a6a;
}