body{
    display:grid;
    gap: 10px;
    /* Color de fondo */
    background-color:#070617;
    padding: 1px;

    grid-template-areas: 
    'header header header header'
    'asid   main   main    main'
    'asid   main   main    main'
    'sect   main   main    main'
    'footer footer footer  footer'
    ;
    /* grid-template-rows :0.25fr 1fr 1fr 1fr ; */
    grid-template-columns :1fr 1fr 1fr 1fr ;
    
}

.grid-header{
    grid-area: header;
    width: 100%;

}

body > main{
    grid-area: main;
}

body > aside{
    grid-area: asid;
    padding: 5px;
    margin: 5px;
}

footer{
    grid-area: footer;
}

body > section{
    grid-area: sect;
    padding: 5px;
    margin: 5px;
}


/*************************************************/

main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;
}

.promociones-tienda{
    width: 100%;
    text-align: center;
}

.tienda_text{
    list-style: none;
}

.tienda_text li:hover { 
    cursor: pointer;
    color: lightgreen;
}

.promociones-tienda > h1{
    color: lightgreen;
    text-shadow: 0 0 10px rgba(209, 207, 207, 0.475);
}


.container-asid{
    grid-area: asid;
    width: 700px;
    height: auto;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px rgba(58, 56, 56, 0.742);
}

.container-sect{
    grid-area: sect;
    width: 700px;
    height: auto;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px rgba(58, 56, 56, 0.742);
}

.flyier1-asid{
    padding: 0px;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.9;
}

.banner-info{
    margin: 250px 15px 15px 15px;
    padding: 15px 5px 15px 5px;
    text-align: center;
}


/*********************************************************/

@media screen and (max-width: 1000px){
    body{
        grid-template-areas: 
        'header header header header'
        'asid   asid   asid   asid'
        'main   main   main    main'
        'sect   sect   sect    sect'
        'footer footer footer  footer'
        ;
    }
  
    .nav-links{
        justify-content: center;
    }

    
  }
  
  
  @media screen and (max-width: 700px){
    body{
        font-size: 0.9em;
    }
    .container-sect{
        width: 560px;
        
    }
    .container-asid{
        width: 560px;
    }

  }
  
  @media screen and (max-width: 500px){
    body > main{
        font-size: 0.9em;
    }
    .container-sect{
        width: 460px;
    }
    .container-asid{
        width: 460px;
    }

  }