body{
    display:grid;
    gap: 55px;
    /* Color de fondo */
    background-color:#070617;
    padding: 1px;

    grid-template-areas: 
    'header header header header'
    'main   main   main    main'
    'main   main   main    main'
    'sect   sect   asid   asid'
    'footer footer footer  footer'
    ;
    /* grid-template-rows :0.25fr 1fr 1fr 1fr ; */
    grid-template-columns :1fr 1fr 1fr 1fr ;
    
}

.grid-header{
    grid-area: header;
    width: 100%;

}

body > main{
    grid-area: main;
}

body > aside{
    grid-area: asid;
    text-align: center;
}

footer{
    grid-area: footer;
}

section{
    grid-area: sect;
    text-align: center;
}


/*************************************************/

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 0px;
    font-size: large;

}

main span h1{
    text-shadow: 0 0 10px rgba(209, 207, 207, 0.8);
    text-align: center;
}

/*********************************************************/

@media screen and (max-width: 1000px){
    body{
        grid-template-areas: 
        'header header header header'
        'main   main   main    main'
        'main   main   main    main'
        'sect   sect   sect    sect'
        'asid   asid    asid   asid'
        'footer footer footer  footer'
        ;
    }
  
    .nav-links{
        justify-content: center;
    }

    main{
        gap: 10px;
    }

    iframe{
        width: 500px;
        height: 255px;
    }

    
  }
  
  
  @media screen and (max-width: 700px){
    body{
        font-size: 0.9em;
    }
    
    iframe{
        width: 450px;
        height: 205px;
    }

  }
  
  @media screen and (max-width: 500px){
    body > main{
        font-size: 0.9em;
    }
  }